/* Estilos específicos para a página inicial */

/* Jumbotron */
.jumbotron {
    background: linear-gradient(to right, #F7A8B8, #7F9CCF); /* Gradiente de Rosa Claro para Azul Claro */
    color: #FFFFFF !important;
    padding: 2rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .jumbotron h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    .jumbotron p {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

/* Cards */
.card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

.card-header {
    background-color: #E0E0E0; /* Cinza Claro */
    color: #333;
    border-bottom: 1px solid #C0C0C0; /* Cinza Escuro */
    padding: 0.75rem 1.25rem;
}

.card-body {
    padding: 1.25rem;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-text {
    margin-bottom: 1rem;
}

/* Botões */
.btn-light {
    background-color: #FFFFFF;
    color: #333;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
}

    .btn-light:hover {
        background-color: #F0F0F0;
    }

.btn-primary {
    background-color: #7F9CCF;
    color: #FFFFFF;
    border-radius: 5px;
}

    .btn-primary:hover {
        background-color: #6A8BCC; /* Azul mais escuro para hover */
    }

/* Responsividade */
@media (max-width: 768px) {
    .jumbotron {
        padding: 1.5rem;
    }

    .card {
        margin-bottom: 1rem;
    }
}
/* Layout geral */
body {
    background-color: #f8f9fa; /* Fundo claro para a página */
}

/* Menu lateral */
.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: all 0.3s;
}

.sidebar-header {
    padding: 1rem;
}

.nav-link {
    padding: 1rem;
    text-align: center;
}

/* Página principal */
#page-content-wrapper {
    margin-left: 250px;
    padding: 1rem;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.card {
    background-color: #ffffff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-pink {
    background-color: #f8a5c2;
}

/* Rodapé */
footer {
    background-color: #f8a5c

