@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card bg-white text-dark border-0 h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title">Tarefas</h5>
                    <p class="card-text">Gerencie suas tarefas aqui.</p>
                    <a href="#" class="btn btn-pink">Ver Tarefas</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card bg-white text-dark border-0 h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title">Calendário</h5>
                    <p class="card-text">Veja e gerencie seu calendário.</p>
                    <a href="#" class="btn btn-pink">Ver Calendário</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card bg-white text-dark border-0 h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title">Projetos</h5>
                    <p class="card-text">Gerencie seus projetos aqui.</p>
                    <a href="#" class="btn btn-pink">Ver Projetos</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card bg-white text-dark border-0 h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title">Ideias</h5>
                    <p class="card-text">Adicione e visualize suas ideias.</p>
                    <a href="#" class="btn btn-pink">Ver Ideias</a>
                </div>
            </div>
        </div>
    </div>
</div>
